* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

nav {
    height: 80px;   
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0rem calc ((100 vw - 1300px) / 2 );
}

.logo {
    color: black;
    font-size: 2.0rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

nav a:hover {
    color: blueviolet;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc ((100 vw - 1300px) / 2 );
}

.column-left {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;

}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: italic;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.0;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: black;
    background-color: rgb(150, 155, 154);
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: aquamarine;
}

.column-right {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 0rem 2rem;
}

.hero-image {
    border-radius: 50px;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

.about-container p {
    margin-bottom: 2rem;
    font-size: 1.0rem;
    line-height: 1.5;
    font-style: italic;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.about-container h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.location-container p {
    margin-bottom: 2rem;
    font-size: 1.0rem;
    line-height: 1.5;
    font-style: italic;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.location-container h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.contact-container p {
    margin-bottom: 2rem;
    font-size: 1.0rem;
    line-height: 1.5;
    font-style: italic;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.contact-container h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}